#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks, #leftColumn, #navColumn {
	display: none !important;
}

#bodyColumn, body.docs div.docs {
	margin: 0 !important;
	border: none !important
}

h1 {
  page-break-after: avoid;
}
h2 {
  page-break-after: avoid;
}
h3 {
  page-break-after: avoid;
}
h4 {
  page-break-after: avoid;
}
h5 {
  page-break-after: avoid;
}