#set ($page_title=$msg.page.contact.title)

<div class="section">
  <h1>$msg.page.contact.title</h1>
  <b>&gt;&gt; <a href="mailto:mreinhardt@hygiene.uni-wuerzburg.de">Technische Probleme?</a> &lt;&lt;</b>
  <p>
    <b><a href="http://www.meningococcus.de" target="_blank" class="newWindow">
      Nationales Referenzzentrum für Meningokokken</a></b><br />
    Institut für Hygiene und Mikrobiologie<br />
    Universität Würzburg<br />
    Josef-Schneider-Straße 2<br />
    97080 Würzburg<br />
    E-mail: <span class="nospam">nrzm</span><span 
    class="at"><tt>@</tt></span><span 
    class="morenospam">hygiene.uni<tt>-</tt>wuerzburg.de</span>
  </p>
  <p>
    <b>Prof. Dr. med. Ulrich Vogel</b><br />
    Institut für Hygiene und Mikrobiologie<br />
    Universität Würzburg<br />
    Josef-Schneider-Straße 2<br />
    97080 Würzburg<br />
    Tel: (0931) 201-46802<br />
    Fax: (0931) 201-46445<br />
    E-mail: <span class="nospam">uvogel</span><span 
    class="at"><tt>@</tt></span><span 
    class="morenospam">hygiene.uni<tt>-</tt>wuerzburg.de</span>
  </p>
  <p>
    <b>Univ.-Prof. Dr. med. Dag Harmsen</b><br />
    Kommissarischer Geschäftsführender Leiter<br />
    Poliklinik für Parodontologie<br />
    Waldeyerstraße 30<br />
    48149 Münster<br />
    Tel: (0251) 83-47059<br />
    Fax: (0251) 83-47134<br />
    E-mail: <span class="nospam">dharmsen</span><span 
    class="at"><tt>@</tt></span><span 
    class="morenospam">uni<tt>-</tt>muenster.de</span>
  </p>
  <p>
    <b>Dr. med. univ. Johannes Elias</b><br />
    Institut für Hygiene und Mikrobiologie<br />
    Universität Würzburg<br />
    Josef-Schneider-Straße 2<br />
    97080 Würzburg<br />
    Tel: (0931) 201-46936<br />
    E-mail: <span class="nospam">jelias</span><span 
    class="at"><tt>@</tt></span><span 
    class="morenospam">hygiene.uni<tt>-</tt>wuerzburg.de</span>
  </p>
  <p>
    <b>Dipl. Inf. Markus Reinhardt</b><br />
    Institut für Hygiene und Mikrobiologie<br />
    Universität Würzburg<br />
    Josef-Schneider-Straße 2<br />
    97080 Würzburg<br />
    Tel: (0931) 201-46714<br />
    E-mail: <span class="nospam">mreinhardt</span><span 
    class="at"><tt>@</tt></span><span 
    class="morenospam">hygiene.uni<tt>-</tt>wuerzburg.de</span>
  </p>
</div>
