#set ($page_title=$msg.page.manual.title)

<div class="section">
  <h1>$msg.page.manual.title</h1>
  <p>
    <b>Schnellnavigation:</b><br />
    <a href="#overview">Gesamtübersicht</a>
    - <a href="#maplayers">Kartenebenen:</a>
    <a href="#popdensity">$msg.map.layer.popdensity</a>
    , <a href="#incidence">$msg.map.layer.incidence</a>
    , <a href="#casetypes">$msg.map.layer.casetypes</a>
    , <a href="#serogroups">$msg.map.layer.serogroups</a>
    , <a href="#cluster">$msg.map.layer.cluster</a>
  </p>
  <p>
    Diese Seite gibt einen Überblick über die Funktionsweise der
    <a href="#"
      onclick="window.open('mapbrowser.vm','mapbrowser','status=no,scrollbars=yes,width=1020,height=810')">
      hier</a>
    ausführbare Web-basierten GIS-Anwendung zur Überwachung von
    Meningokokken-Erkrankungsfällen.
  </p>
  <div class="section">
    <a name="overview"></a><h2>Gesamtübersicht</h2>
    <p>
      Wir erklären Ihnen anhand der Nummerierungen in der folgenden Abbildung,
      was Sie mit den jeweiligen Schaltflächen des Programms
      einstellen können bzw. welche Informationen in den entsprechenden
      Bereichen angezeigt werden.
    </p>
    <p class="figure">
      <img style="border:1px solid black" width="90%"
        src="images/manual/screenshot_public_health__nrzm.png"
        alt="Screenshot der EpiScanGIS Webanwendung" />
      <br />
      Screenshot der EpiScanGIS Webanwendung, Nummerierung ist im
      Folgenden erklärt
    </p>
    <p>
    Die Oberfläche des Kartenbetrachters bietet folgende
    Einstellungsmöglichkeiten:
    </p>
    <ol>
      <li>
        Über diese Schaltfläche kann die Karte in einer druckfähigen
        Version aufgerufen bzw. lokal abgespeichert werden.
      </li>
      <li>
        Mittels dieser Dropdown-Listen können Filter eingestellt werden,
        welche die angezeigten Karten verändern:
        <ol type="a">

          #if($user.isInRole("public_health") || $user.isInRole("nrzm"))
          <li>
            <b>$msg.map.area</b>:
            Je nach Auswahl ändert sich der Zoombereich des
            dargestellten Gebietes auf der Karte (Bundesgebiet oder
            einzelne Bundesländer).
          </li>
          #end

          <li>
            <b>$msg.map.age</b>:
            Altersgruppe (von, bis), auf welche die dargestellten
            Erkrankungsfälle eingegrenzt werden. Hierbei sind beide
            Grenzwerte mit eingeschlossen. Die Einstellung von 0 bis 0
            würde beispielsweise nur die Fälle der unter Einjährigen anzeigen.
            <br />
            <i>
              Wenn Sie an diesem Filter Änderungen vornehmen, wird die
              Serogruppen- und Feintypen-Ebene automatisch aktualisiert.
            </i>
          </li>
          <li>
            <b>$msg.map.observationperiod</b>:
            Zeitraum zur Begrenzung der dargestellten
            epidemiologischer Informationen.
            <br />
            Der Beobachtungszeitraum lässt sich mit der Genauigkeit von
            einem

            #if($user.isInRole("public_health") || $user.isInRole("nrzm")) einem Monat #else Jahr #end

            einstellen, wobei wiederum die Grenzwerte mit eingeschlossen
            sind.
            <br />
            <i>
              Wenn Sie an diesem Filter Änderungen vornehmen, wird die
              Serogruppen-, Feintypen- und Inzidenz-Ebene automatisch
              automatisch aktualisiert.
            </i>
          </li>
        </ol>
      </li>
      <li>
        In diesem Bereich der Anwendung ist für jede vorhandene
        Kartenebene ein Reiter zu sehen. Die Kopfzeile enthält ein
        Kontrollkästchen zum ein-/ausblenden der Ebene, den Namen der Ebene und
        einen Ladebalken, der anzeigt ob gerade eine Aktualisierung
        durchgeführt wird. Detailierte Einstellungsmöglichkeiten zu der
        jeweiligen Kartenebenen können Sie über einen Mausklick auf die
        Kopfzeile einblenden.
      </li>
      <li>
        Der Hauptbereich von EpiScanGIS zeigt die aktuelle, anhand aller
        Filtereinstellungen generierte Karte.

        #if($user.isInRole("public_health") || $user.isInRole("nrzm"))
        Durch klicken und ziehen der Maus können Sie den
        Kartenausschnitt verschieben.
        #end

        Sie können sich mehr Informationen zu einem Punkt auf der Karte
        einblenden lassen, indem Sie mit der linken Maustaste klicken.
        Dieser Vorgang fragt alle aktiven Ebenen nach zusätzlichen Daten ab.
      </li>
      <li>
        Die Legende am rechten Rand erklärt die Bedeutung aller eingesetzten
        Farben und Symbole.
      </li>
    </ol>
  </div>
  <div class="section">
    <a name="maplayers"></a><h2>Kartenebenen</h2>
    <p>
      Geografische Informationssysteme organisieren digitale Karten meistens mittels
      Ebenen. Zusammengehörige Daten sind dabei in einer Ebene gruppiert.
    </p>
    <p>
      $msg.global.name nutzt unter anderem die Ebenen $msg.map.layer.popdensity,
      $msg.map.layer.incidence, $msg.map.layer.serogroups,
      $msg.map.layer.casetypes und $msg.map.layer.borders
    </p>
    <p>
      In einer Ebene zusammengefasste Elemente sind immer vom gleichen
      geometrischen Typ: Bei Grenzen und Inzidenz handelt es sich um
      Flächen-, bei Städten und Erkrankungsfällen um Punktinformationen.
      Die einzelnen Schichten erzeugen zusammen das Gesamtbild der
      Karte. Sie können die Darstellung durch Ein- und Ausblenden
      einzelner Ebenen verändern.
    </p>
    <p>
      Im Folgenden werden die verschiedenen Ebenen aufgelistet, deren
      spezifische Filtermöglichkeiten beschrieben und jeweils
      Beispielabbildungen gezeigt:
    </p>
    <div class="section">
      <a name="popdensity"></a><h3>$msg.map.layer.popdensity</h3>
      <p>
        Stellt die Bevölkerungsdichte dar. Diese lässt sich entweder auf
        Bundesland- oder Landkreisebene berechnen.
      </p>
      <p>
        Die folgenden Abbildungen zeigen zwei Beispieldarstellungen der
        Ebene.
      </p>
      <p class="figure">
        <img style="border:1px solid black" width="90%"
          src="images/manual/popdensity.gif"
          alt="Bevölkerungsdichte auf Bundeslandebene und Landkreisebene" />
        <br />
        Bevölkerungsdichte auf Bundesland- und Landkreisebene mit
        Grenzlinien
      </p>
    </div>
    <div class="section">
      <a name="incidence"></a><h3>$msg.map.layer.incidence</h3>
      <p>
        Zeigt die Jahresinzidenz der Erkrankungsfälle für Bundesländer
        bzw. Landkreise an. Die Berechnung bezieht dabei alle Fälle der
        ausgewählten Serogruppe(n) mit ein, die während des angegebenen
        Zeitraums aufgetreten sind.
      </p>
      <p>
        Falls die Zeitspanne kürzer als ein Jahr ist, wird der Wert
        hoch gerechnet. Ist sie länger als ein Jahr wird der Mittelwert
        gebildet.
      </p>
      <p>
        Die folgenden Abbildungen zeigen zwei Beispieldarstellungen der
        Ebene.
      </p>
      <p class="figure">
        <img style="border:1px solid black" width="90%"
          src="images/manual/incidence.gif"
          alt="Jahresinzidenz 2002, Bundesländer und Landkreise" />
        <br />
        Jahresinzidenz 2002 (Januar-Dezember) für alle
        Meningokokkenfälle für Bundesländer und Landkreise
      </p>
    </div>
    <div class="section">
      <a name="casetypes"></a><h3>$msg.map.layer.casetypes</h3>
      <p>
        Stellt die Verteilung eines Meningokokken-Feintyps auf der
        Landkarte dar, wobei die Menge der angezeigten Fälle durch die
        Altersgrenzen und den Zeitraum beschränkt werden. Sie können über das
        Suchfeld ein spezifischer Feintyp aus den bisher im System erfassten
        finden.
      </p>
      <p>
        <b>WICHTIG:</b>
        Sie müssen den Feintyp im Suchfeld genau in der folgenden Form
        eingeben:
      </p>
      <p>
      <tt>{Serogruppe} : P1.{PorA} : F{FetA}</tt>,
      also beispielsweise
      <tt>B : P1.7-2,4 : F1-5</tt>
      </p>
      <p>
        Bitte beachten Sie die Leerzeichen links und rechts von den
        Doppelpunkten.
      </p>
      <p>
        Die folgenden Abbildungen zeigen zwei Beispieldarstellungen der
        Ebene.
      </p>
      <p class="figure">
        <img style="border:1px solid black" width="90%"
          src="images/manual/finetypes.gif"
          alt="Verteilung des Feintyps B : P1.7-2,4 : F1-5 in Deutschland und Nordrhein-Westfalen" />
        <br />
        Verteilung des Feintyps B : P1.7-2,4 : F1-5 in Deutschland und in
        Nordrhein-Westfalen (Januar bis Oktober 2005)
      </p>
    </div>
    <div class="section">
      <a name="serogroups"></a><h3>$msg.map.layer.serogroups</h3>
      <p>
        Visualisiert Erkrankungsfälle zusammengefasst nach Serogruppen.
      </p>
      <p>
        Die Menge der angezeigten Fälle wird durch die Altersgrenzen und
        den Zeitraum gefiltert. Es ist möglich die Fälle verschiedener
        Serogruppen gleichzeitig auf der Karte anzuzeigen indem diese
        mit gedrückter <tt>Strg</tt>-Taste aus der Liste gewählt werden.
      </p>
      <p>
        Unterschiedliche Symbole und Farben kennzeichnen die Gruppen
        B, C, Y, W135, 29E, A und Z eindeutig.
      </p>
      <p>
        Die folgenden Abbildungen zeigen zwei Beispieldarstellungen der
        Ebene.
      </p>
      <p class="figure">
        <img style="border:1px solid black" width="90%"
        src="images/manual/serogroup.gif"
        alt="Serogruppe B bzw. C Fälle in Deutschland im Jahr 2002" />
        <br/>
        Serogruppe B und C Fälle in Deutschland im Jahr 2002
      </p>
    </div>

    <div class="section">
      <a name="cluster"></a><h3>$msg.map.layer.cluster</h3>
      <p>
        Für diese Ebene können Sie keine Einstellungen vornehmen. Sie zeigt
        immer die durch die zuletzt durchgeführte prospektiven Analyse
        identifizierten Cluster. Das Datum, an dem die Berechnung
        aufgeführt wurde, wird in der Kopfzeile angezeigt.
      </p>
      <p>
        Die folgenden Abbildungen zeigen zwei Beispieldarstellungen der
        Ebene.
      </p>
      <p class="figure">
      <img style="border:1px solid black" width="90%"
        src="images/manual/cluster.gif"
        alt="Cluster, Feintyp C : P1.7-4,14-6 : F3-9" />
        <br />
        Ein bei einer prospektiven Analyse am 24. Oktober 2005
        entdeckter Cluster, Feintyp C:P1.7-4,14-6:F3-9, Dauer bis dato
        vom 27. September - 24. Oktober 2005; rechts die
        deutschlandweite Verteilung diese Feintyps von August-Oktober
        2005
      </p>
    </div>
    <!--
    <div class="section">
      <h3>Monthly retrospective clusters</h3>
      <p>
        Einen historisch rückblickende Darstellung der Clusterlandschaft
        wird mittels dieser Ebene visualisiert. Über ein Auswahlfeld
        lässt sich wählen, welche der monatlich durchgeführten
        Retrospektiven Analysen angezeigt werden soll.
      </p>
      <p>
        Die folgenden Abbildungen zeigen zwei Beispieldarstellungen der
        Ebene.
      </p>
      <p class="figure">
      <img style="border:1px solid black" width="400px"
        src="images/manual/cluster_retro.gif"
        alt="Historische Cluster vom 1. September 2005" />
        <br />
        Durch eine retrospektive Analyse erkannte historische Cluster.
        Die Berechnung hat vom 1. September 2005 an rückblickend alle
        Fälle des letzten Jahres eingeschlossen.
      </p>
    </div>
    -->

  </div>
</div>