#set ($page_title=$msg.global.title)

<div class="section">
  <h1>$msg.global.title</h1>
  <b>Aktueller Status:</b>
  <dl>
   <dt>1. Dezember 2020</dt>
   <dd>
     <p>
        Das System wird im Moment aktualisiert, da der Flash Player ab 2021 nicht mehr verfügbar ist.
        Aus diesem Grund funktioniert der Kartenbetrachter nur eingeschränkt bzw. teilweise gar nicht.
        Zudem ist die Datenaktualisierung pausiert.        
     </p>
     <p>
       Im Jahr 2021 wird EpiScanGIS wieder verfügbar sein. Entschuldigen Sie bitte die Unannehmlichkeiten.
     </p>
   </dd>
  </dl>
  <p>
    Um die Anzahl der Meningokokken-Infektionen in der Bevökerung so gering wie
    möglich halten zu können, ist eine frühzeitige Erkennung von
    Erkrankungsfällen besonders wichtig. EpiScanGIS verwendet ein Geografisches
    Informationssystem (GIS) zur Darstellung der Verteilung von
    Erkrankungsfällen, die an das
    <a href="http://www.meningococcus.de" target="_blank" class="newWindow">
      Nationalen Referenzzentrum für Meningokokken (NRZM)</a> gemeldet wurden.
    Mittels dieser und noch anderen Methoden soll mit EpiScanGIS ein
    Frühwarnsystem aufgebaut werden, das Erkrankungsausbrüche rechtzeitig
    anzeigen kann und somit verhindern hilft.<br />
    <a class="smaller" href="whatis.vm">lesen sie mehr...</a>
  </p>
  <p style="text-align:center">
    <b>Starten Sie den Kartenbetrachter!</b><br />
    <a href="#"
      onclick="window.open('http://episcangis.hygiene.uni-wuerzburg.de:8080/mapviewer.html','mapbrowser','status=no,scrollbars=no,width=1120,height=880')"><img
        src="images/go_episcangis.png" alt="EpiScanGIS - Web Surveillance starten" />
    </a>
    <br />
  </p>
  <p style="font-size: smaller">
    Mit dem Kartenbetrachter können Sie die geografische Verteilung der
    Meningokokken-Erkrankungsfälle anzeigen, die seit Dezember 2001 in
    Deutschland aufgetreten sind.
  </p>
  <p style="font-size: smaller">
    Die
    <a href="manual.vm">Anleitung zu EpiScanGIS</a>
    gibt Ihnen einen kurzen Einblick in die Software und erklärt, wie sie
    angewendet wird.
  </p>
  <div class="section">
    <h2>Publikationen</h2>
    <p>
      EpiScanGIS und seine Implementierung wurde im "International
      Journal of Health Geographics" publiziert. Sie können  sich den Artikel
      unter folgendem Link herunterladen:
      <a href="http://www.ij-healthgeographics.com/content/7/1/33">http://www.ij-healthgeographics.com/content/7/1/33</a>
      <pre style="font-size:smaller">
        Reinhardt M, Elias J, Albert J, Frosch M, Harmsen D, Vogel U.
        EpiScanGIS: an online geographic surveillance system for meningococcal disease.
        Int J Health Geogr.
        2008 Jul 1;7:33.
        PubMed PMID: 18593474; PubMed Central PMCID: PMC2483700
      </pre>
    </p>
    <p>
      Die Methodik zur SaTScan-Analyse von
      Meningokokken-Feintypen wurde von Elias et al. publiziert.
      Sie können sich den Artikel  unter folgendem Link herunterladen:
      <a href="http://www.cdc.gov/ncidod/EID/vol12no11/06-0682.htm">http://www.cdc.gov/ncidod/EID/vol12no11/06-0682.htm</a>
      <pre style="font-size:smaller">
        Elias J, Harmsen D, Claus H, Hellenbrand W, Frosch M, Vogel U.
        Spatiotemporal analysis of invasive meningococcal disease, Germany.
        Emerg Infect Dis.
        2006 Nov;12(11):1689-95.
        PubMed PMID: 17283618.
      </pre>
    </p>
  </div>
</div>
