#set ($page_title=$msg.page.whatis.title)

<div class="section">
  <h1>$msg.page.whatis.title</h1>
  <p>
    <b>
    Um die Anzahl der Meningokokken-Infektionen in der Bevölkerung so gering wie 
    möglich halten zu können, ist eine frühzeitige Erkennung von 
    Erkrankungsfällen besonders wichtig. EpiScanGIS verwendet ein Geografisches 
    Informationssystem (GIS) zur Darstellung der Verteilung von 
    der Erkrankungsfälle, die an das
    <a href="http://www.meningococcus.de" target="_blank" class="newWindow">
      Nationalen Referenzzentrum für Meningokokken (NRZM)</a> gemeldet wurden.
    Mittels dieser und noch anderen Methoden soll mit EpiScanGIS ein 
    Frühwarnsystem aufgebaut werden, dass Erkrankungsausbrüche rechtzeitig 
    anzeigen kann und somit verhindern hilft.</b>
  </p>
  <p>
    EpiScanGIS wurde am NRZM in Kooperation mit dem
    <a href="http://www2.informatik.uni-wuerzburg.de" target="_blank" class="newWindow">Lehrstuhl für Informatik II</a>
    und der Firma <a href="http://www.ridom.com" target="_blank" class="newWindow">Ridom GmbH</a>
    entwickelt. Es ist aus der Diplomarbeit von Markus Reinhardt entstanden, 
    die am Lehrstuhl für Informatik II der Universität Würzburg durchgeführt 
    wurde.
  </p>
  <div class="section">
    <h2>Epidemiologische Beobachtung der invasiven Meningokokken-Erkrankung in Deutschland</h2>
    <p>
      Ein Ziel dieses interdisziplinären Projektes ist es, ein öffentlich
      Zugängliches System zur computergestützten epidemiologischen Beobachtung 
      der Meningokokken-Erkrankung in Deutschland bereitzustellen.
    </p>
    <p>
      EpiScanGIS bietet Ihnen wöchentlich aktualisierte, dynamisch erzeugte
      Karen. Die zu Grunde liegende Datenbank ist das Ergebnis der beständigen
      Arbeit des NRZM, welches, als nationales Referenzlabor, einen Großteil
      aller in Deutschland auftretenden Meningokokken-Erkankungsfälle mit Hilfe von 
      Mikrobiologischen Methoden typisiert.
    </p>
    <p>
      Wir haben in diesem Projekt mehrere nicht-kommerzielle 
      Softwarekomponenten eingesetzt, von denen jede für sich einen Teil zu dem 
      Gesamtprozess beiträgt:
    </p>
    <ul>
      <li>
        Die objekt-relationale Datenbank
        <a href="http://www.postgresql.org" target="_blank" class="newWindow">
          PostgreSQL</a>
        speichert anonymisierte epidemiologische Informationen.
      </li>
      <li>
        <a href="http://www.postgis.org" target="_blank" class="newWindow">
          PostGIS</a>
        erweitert PostgreSQL um die Möglichkeit geografische Objekte zu 
        speichern und in Abfragen einzusetzen.
      </li>
      <li>Der
        <a href="http://mapserver.gis.umn.edu" target="_blank" class="newWindow">
          UMN Mapserver</a>
        ist dafür verantwortlich, die von der Datenbank bereitgestellten
        Daten auf Landkarten darzustellen.
      </li>
      <li>
        <a href="http://www.openlaszlo.org" target="_blank" class="newWindow">
          OpenLaszlo</a>
        wird verwendet um eine Flash-basierte 'Rich Internet Application' zu
        erzeugen, die einen intuitiven Zugang zu den epidemiologischen
        Daten ermöglicht.
      </li>
    </ul>
  </div>
  <div class="section">
    <h2>Frühwarnsystem</h2>
    <p>
      Die zweite Komponente dieses Onlinesystems stellt dem öffentlichen
      Gesundheitsdienst ein Frühwarnsystem zur Erkennung von Erkrankungsausbrüchen 
      (so genannte 'Cluster') zur Verfügung.
    </p>
    <p>
      Die hiermit erzeugten Karten und Berichte sind aus Datenschutzgründen
      nicht öffentlich zugänglich. Allerdings helfen sie 
      <a href="register.vm">registrierten</a>
      und autorisierten Mitgliedern des öffentliche Gesundheitsdienst dabei,
      potenzielle Risikogebiete schnell zu erkennen und vorbeugende Maßnahmen 
      ergreifen zu können.
    </p>
    <p>
      EpiScanGIS setzt die Software
      <a href="http://www.satscan.org" target="_blank" class="newWindow">SaTScan™</a>
      für den Vorgang der
      'Clustererkennung' ein. Dabei werden alle vorliegenden epidemiologischen
      Daten auf wöchentlicher Basis untersucht.
    </p>
    <p>
      SaTScan™ ist ein Markenzeichen von Martin Kulldorff. Die Software
      SaTScan™ wurde unter gemeinsamer Federführung von Martin
      Kulldorff, dem National Cancer Institut und von Farzad Mostashari des
      New York City Department of Health and Mental Hygiene entwickelt.
    </p>
  </div>
</div>
