<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Incubator Directory</title>
    <link rel="STYLESHEET" type="text/css" href="../../../docs/includes/styles.css">
  </head>
  <body>
    <h1>OpenLaszlo Incubator Directory</h1>
    <p>The Incubator directory contains components and other code that have been contributed to the OpenLaszlo project, but have not yet been fully integrated into the product.  It is intended as an easy way to contribute code that doesn't have the level of documentation, testing, or API review that is required in other directories, or that is simply contributed too late in the release cycle to place elsewhere.</p>
    
    <h2>Contents</h2>
    <dl>
      <dt><code>scrollinputtext</code></dt>
      <dd>Created by Max Carlson (max@laszlosystems.com) and Sarah Allen (sallen@laszlosystems.com) at Laszlo Systems, Inc..  Enhanced by Geert Bevin and Brendan Fagan of the Laszlo forums &mdash; thanks guys!</dd>
      <dt><code>colorpicker</code></dt>
      <dd>Created by Henry Minsky at Laszlo Systems, Inc.</dd>
      <dt><code>tooltipmanager</code></dt>
      <dd>Contributed by Krosscore, Inc.</dd>
      <dt><code>newcombobox</code></dt>
      <dd>Contributed by Laszlo Systems, Inc.</dd>
      <dt><code>Floating-point slider</code></dt>
      <dd>Created by Mark Davis at Laszlo Systems, Inc.</dd>
    </dl>
  </body>
</html>
