#set ($page_title=$msg.global.title)

<div class="section">
  <h1>$msg.global.title</h1>
  <h2>Online Monitoring Invasive Meningococcal Disease in Germany</h2>
  <p>
    <b>Detecting meningococcal disease outbreaks as early as possible is
    important in order to minimize the number of infections amongst the
    population. EpiScanGIS uses a Geographical Information System (GIS)
    to present maps showing the distribution of all cases of
    meningococcal disease, that have been registered at the
    <a href="http://www.meningococcus.de" target="_blank" class="newWindow">
      National Reference Centre for Meningococci (NRZM)</a> in Germany. 
    Thus it acts as early warning system, that provides you
    with easy to access and timely information on meningococcal diseases
    in Germany.</b><br />
    <a class="smaller" href="whatis.vm">read more...</a>
  </p>
  <p>
    Just click on the link below, to launch the map browser, that allows
    you to explore the geographical distribution of all cases of
    meningococcal disease that occurred in Germany since December 2001.
    EpiScanGIS uses
    <a target="_blank" class="newWindow" 
      href="http://www.adobe.com/products/flashplayer/">
      Macromedia Flash® Player</a> (<b>version 7</b> at least) to provide you with easy access to 
    epidemiological surveillance data. Just in case that this PlugIn is not 
    already installed with your browser, you can download it
    <a target="_blank" class="newWindow"
      href="http://www.adobe.com/go/getflashplayer">
      here</a>.
  </p>
  <p>
    The
    <a href="manual.vm">EpiScanGIS Manual</a>
    gives you a brief introduction on the software and explains how it
    is used.
  </p>
  <b>
    <a href="#"
      onclick="window.open('mapbrowser.vm','mapbrowser','status=no,scrollbars=yes,width=1020,height=820')">
      Start EpiScanGIS - Web Surveillance
    </a>
  </b>
    ,
    <a href="#"
      onclick="window.open('mapbrowser.vm?width=796&amp;height=600','mapbrowser','status=no,scrollbars=yes,width=796,height=670')">
      Start small size (800x600)
    </a>
</div>
