#set ($page_title=$msg.global.title)

<div class="section">
  <h1>$msg.global.title</h1>
  <b>Current Status:</b>
  <dl>
   <dt>December 1, 2020</dt>
   <dd>
     <p>
        The system is currently updated to run without flash player.
        Therefore the map browser is not fully available/may have issues and data update is paused.
     </p>
     <p>
       EpiScanGIS will be up and running again beginning of Mai 2021. Sorry for the inconvenience.
     </p>
   </dd>
  </dl>
  <p>
    Detecting meningococcal disease outbreaks as early as possible is
    important in order to minimize the number of infections amongst the
    population. EpiScanGIS uses a Geographical Information System (GIS)
    to present maps showing the distribution of all cases of
    meningococcal disease, that have been registered at the
    <a href="http://www.meningococcus.de" target="_blank" class="newWindow">
      National Reference Centre for Meningococci (NRZM)</a> in Germany.
    Thus it acts as early warning system, that provides you
    with easy to access and timely information on meningococcal diseases
    in Germany.<br />
    <a class="smaller" href="whatis.vm">read more...</a>
  </p>
  <p style="text-align:center">
    <b>Start the map browser!</b><br />
    <a href="#"
      onclick="window.open('http://episcangis.hygiene.uni-wuerzburg.de:8080/mapviewer.html','mapbrowser','status=no,scrollbars=no,width=1120,height=880')"><img
        src="images/go_episcangis.png" alt="Start EpiScanGIS - Web Surveillance" />
    </a>
    <br />
  </p>
  <p style="font-size: smaller">
    The map browser allows you to explore the geographical distribution of all cases of
    meningococcal disease, that occurred in Germany since December 2001.    
  </p>
  <p style="font-size: smaller">
    The
    <a href="manual.vm">EpiScanGIS Manual</a>
    gives you a brief introduction on the software and explains how it
    is used.
  </p>
  <div class="section">
    <h2>Publications</h2>
    <p>
      EpiScanGIS and its implementation has been published in the International
      Journal of Health Geographics. Please download the paper under the
      following link:
      <a href="http://www.ij-healthgeographics.com/content/7/1/33">http://www.ij-healthgeographics.com/content/7/1/33</a>
      <pre style="font-size:smaller">
        Reinhardt M, Elias J, Albert J, Frosch M, Harmsen D, Vogel U.
        EpiScanGIS: an online geographic surveillance system for meningococcal disease.
        Int J Health Geogr.
        2008 Jul 1;7:33.
        PubMed PMID: 18593474; PubMed Central PMCID: PMC2483700
      </pre>
    </p>
    <p>
      SaTScan analysis based on meningococcal finetypes has been published
      by Elias et al. Please download the paper under the following link:
      <a href="http://www.cdc.gov/ncidod/EID/vol12no11/06-0682.htm">http://www.cdc.gov/ncidod/EID/vol12no11/06-0682.htm</a>
      <pre style="font-size:smaller">
        Elias J, Harmsen D, Claus H, Hellenbrand W, Frosch M, Vogel U.
        Spatiotemporal analysis of invasive meningococcal disease, Germany.
        Emerg Infect Dis.
        2006 Nov;12(11):1689-95.
        PubMed PMID: 17283618.
      </pre>
    </p>
  </div>
</div>
