#set ($page_title=$msg.global.title)

<div class="section">
  <h1>$msg.global.title</h1>
  <!--
  <b>Latest Information:</b>
  <dl style="font-size:smaller;">
   <dt>Mai 31, 2006 - 15.00 Uhr</dt>
   <dd>
     <p>
     We weren't able to test the compatibility of EpiScanGIS with all possible
     browser/operating system combinations prior to the launch. Especially the
     use of the Internet Explorer may cause problems.
     </p>
     <p>
       <b>
         If you are using the Internet Explorer, then make sure that you have
         installed the latest Flash-Player (<i>version 7</i> at least):
         <br />
         <a target="_blank" class="newWindow"
           href="http://www.adobe.com/go/getflashplayer">
           http://www.adobe.com/go/getflashplayer</a>
       </b>
     </p>
     <p>
     By now, we carried out some changes, that should solve most of the difficulties.
     If the map browser isn't functioning, even after you have restarted your browser,
     then it would be nice if you sent me an e-mail including the Version and name of
     your browser and operating system respectively.
     </p>
     <p>
       E-mail to: <a href="mailto:mreinhardt@hygiene.uni-wuerzburg.de">M. Reinhardt</a>
     </p>
   </dd>
  </dl>
   -->
  <p>
    Detecting meningococcal disease outbreaks as early as possible is
    important in order to minimize the number of infections amongst the
    population. EpiScanGIS uses a Geographical Information System (GIS)
    to present maps showing the distribution of all cases of
    meningococcal disease, that have been registered at the
    <a href="http://www.meningococcus.de" target="_blank" class="newWindow">
      National Reference Centre for Meningococci (NRZM)</a> in Germany.
    Thus it acts as early warning system, that provides you
    with easy to access and timely information on meningococcal diseases
    in Germany.<br />
    <a class="smaller" href="whatis.vm">read more...</a>
  </p>
  <p style="text-align:center">
    <b>Start the map browser!</b><br />
    <a href="#"
      onclick="window.open('mapviewer.html','mapbrowser','status=no,scrollbars=no,width=1120,height=880')"><img
        src="images/go_episcangis.png" alt="Start EpiScanGIS - Web Surveillance" />
    </a>
    <br />
    <a style="font-size: smaller" href="#"
      onclick="window.open('mapbrowser.vm?width=800&amp;height=600','mapbrowser','status=no,scrollbars=yes,width=800,height=670')">
      Start small size (800x600)
    </a>
  </p>
  <p style="font-size: smaller">
    The map browser allows you to explore the geographical distribution of all cases of
    meningococcal disease, that occurred in Germany since December 2001.
    EpiScanGIS uses
    <a target="_blank" class="newWindow"
      href="http://www.adobe.com/products/flashplayer/">
      Macromedia Flash® Player</a> (<b>version 7</b> at least) to provide you with easy access to
    epidemiological surveillance data. Just in case that this PlugIn is not
    already installed with your browser, you can download it
    <a target="_blank" class="newWindow"
      href="http://www.adobe.com/go/getflashplayer">
      here</a>.
  </p>
  <p style="font-size: smaller">
    The
    <a href="manual.vm">EpiScanGIS Manual</a>
    gives you a brief introduction on the software and explains how it
    is used.
  </p>
  <div class="section">
    <h2>Publications</h2>
    <p>
      EpiScanGIS and its implementation has been published in the International
      Journal of Health Geographics. Please download the paper under the
      following link:
      <a href="http://www.ij-healthgeographics.com/content/7/1/33">http://www.ij-healthgeographics.com/content/7/1/33</a>
      <pre style="font-size:smaller">
        Reinhardt M, Elias J, Albert J, Frosch M, Harmsen D, Vogel U.
        EpiScanGIS: an online geographic surveillance system for meningococcal disease.
        Int J Health Geogr.
        2008 Jul 1;7:33.
        PubMed PMID: 18593474; PubMed Central PMCID: PMC2483700
      </pre>
    </p>
    <p>
      SaTScan analysis based on meningococcal finetypes has been published
      by Elias et al. Please download the paper under the following link:
      <a href="http://www.cdc.gov/ncidod/EID/vol12no11/06-0682.htm">http://www.cdc.gov/ncidod/EID/vol12no11/06-0682.htm</a>
      <pre style="font-size:smaller">
        Elias J, Harmsen D, Claus H, Hellenbrand W, Frosch M, Vogel U.
        Spatiotemporal analysis of invasive meningococcal disease, Germany.
        Emerg Infect Dis.
        2006 Nov;12(11):1689-95.
        PubMed PMID: 17283618.
      </pre>
    </p>
  </div>
</div>
