#set ($page_title=$msg.page.forgotPassword.title)

<div class="section">
  <h1>$msg.page.forgotPassword.title</h1>
  $msg.page.forgotPassword.msg
  <form enctype="application/x-www-form-urlencoded; charset=UTF-8" accept-charset="UTF-8"
    action="$link.setAction('ForgotPassword')"
    method="post" style="width:40em;">
    <fieldset style="width:78%;">
      <legend>$msg.page.forgotPassword.provideData</legend>
      <table class="formBlock">
        <tr>
          <td>
            $msg.user.email (*):
            <br />
            <input type="text" name="email" size="25"
              value="$!forgotPassword.email" maxlength="50" />
            <div class="error">$!errors.getMsgs()</div>
          </td>
        </tr>
      </table>
      <br />
      <button type="submit">$msg.page.forgotPassword.submit</button>
    </fieldset>
  </form>
</div>