<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>$!page_title</title>
    <style type="text/css" media="all">
      @import url("./css/episcangis-base.css");
      @import url("./css/episcangis-theme.css");
                                                                                          
      #if ( $disableNav )
      @import url("./css/episcangis-nonav.css");
      #end
    </style>
    <style type="text/css" media="print">
      @import url("./css/episcangis-print.css");
    </style>
  </head>
</html>
<body>
  <div id="banner">
    <div id="bannerLeft">
      <img src="images/logo_episcangis.png" alt="$global.title"/>
    </div>
    <div id="bannerRight">
      <img src="images/logo_nrzm.png" alt="$global.organization"/>
    </div>
    <div class="clear">
      <hr/>
    </div>
  </div>
  <div id="breadcrumbs">
    <div class="xleft">
    </div>
    <div class="xright">
      #if ($user)
      <a href="Logout.do">$msg.global.logout</a> $user.fullName
      #else
      <a href="Login.do">$msg.global.login</a> or
      <a href="RegisterUser.do">$msg.global.register</a>
      #end
    </div>
    <div class="clear">
      <hr/>
    </div>
  </div>
  <div id="leftColumn">
    <div id="navcolumn">
      <h5>Quick Links</h5>
      <a href="welcome.vm">Home</a><br/>
      <a href="#"
        onClick="window.open('mapbrowser_1024x786.html','mapbrowser','status=no,scrollbars=yes,width=1020,height=766')">Launch EpiScanGIS</a>
      <h5>About EpiScanGIS</h5>
      <a href="whatIs.vm">What is EpiScanGIS</a><br/>
      <a href="screenshots.vm">Screenshots</a>
      #if($user)
      #if($user.isInRole("nrzm"))
      <h5>NRZM intern</h5>
      #end
      #end
                                                                                          
      <a href="http://maven.apache.org/" title="Built by Maven" id="poweredBy">
        <img alt="Built by Maven" src="./images/maven-feather.png"></img>
      </a>
                                                                                          
    </div>
  </div>
  <div id="bodyColumn">
    <div id="contentBox">
      $screen_content
    </div>
  </div>
  <div class="clear">
    <hr/>
  </div>
  <div id="footer">
    <div class="xright">$msg.global.copyright</div>
  </div>
</body>
<html>
