#set ($page_title=$msg.page.error_403.title)
<div class="section">
  <h1>$msg.page.error_403.title</h1>
  <p>
    #if( $user )
      $msg.user.username: $user.Username
      $msg.user.role: $user.Roles
    #end
  </p>
  <p>
    $msg.page.error_403.msg
  </p>
</div>