#set ($error=$request.getAttribute('org.apache.struts.action.EXCEPTION'))                                                                                                                                                             
<div class="section">
  #if( $error )
  #set ($page_title="Error: $error.Class.Name")
  <h2>$page_title</h2>
  <p>
    $error.Message
  </p>
  #end
  #if( $error_cause )
  #set ($page_title="Error: $error_cause") 
  <h2>$page_title</h2>
  <p>
    Error: $stack_trace
  </p>
  #end
</div>