#set ($page_title=$msg.page.error_401.title)
<div class="section">
  <h1>$msg.page.error_401.title</h1>
  <p>
    #if( $request.UserPrincipal )
      $msg.user.username: $request.UserPrincipal.Name
      ## $msg.user.role: $user.Roles
    #end
  </p>
  <p>
    $msg.page.error_401.msg
  </p>
</div>