body {
  padding: 0px 0px 10px 0px;
  background-color: #fff;
  color: #000;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  text-align: justify;
}
code{
  font-family: Courier, monospace;
  font-size: 0.9em;
}

a {
  text-decoration: underline;
  text-align: left;
}
a:link {
  color:#008;
  background-color: inherit;
}
a:visited  {
  color:#5b5e75;
  background-color: inherit;
  text-decoration: none;
}
 
a:active, a:hover {
  color:#008;
  background-color: inherit;
  text-decoration: underline
}
 
#legend li.externalLink {
  background: url(episcangis-theme/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(episcangis-theme/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(episcangis-theme/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(episcangis-theme/newwindow.png) right center no-repeat;
  padding-right: 18px;
}

td {
  text-align: left;
}

h1 {
  padding: 4px 4px 4px 6px;
  color: #060;
  border: 1px solid #585b71;
  background-color: #acb1dc;
  font-weight:900;
  font-size: 1.56em;
  text-align: left;
}
h2 {
  padding: 4px 4px 4px 6px;
  color: #060;
  border: 1px solid #585b71;
  background-color: #acb1dc;
  font-weight:500;
  font-size: 1.3em;
  text-align: left;
}
h3 {
  padding: 4px 4px 4px 6px;
  color: #060;
  border: 1px solid #585b71;
  background-color: #acb1dc;
  font-weight: normal;
  font-size: 1.1em;
  text-align: left;
}
h4 {
  padding: 4px 4px 4px 6px;
  color: #060;
  border: 1px solid #585b71;
  background-color: #acb1dc;
  font-weight: normal;
  font-size: 1em;
  text-align: left;
}
h5 {
  padding: 4px 4px 4px 6px;
  color: #060;
  background-color: inherit;
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
}

#breadcrumbs {
  border-bottom: 1px solid #555;
  background-image: url(episcangis-theme/breadcrumbs_bg.png);
  background-repeat: repeat-x;
  background-color: #5a5973;
}
#leftColumn {
  margin: 10px 0 0px 0;
  border-color: #585b71;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  color: inherit;
  background-color: #acb1dc;
}
#navcolumn h5 {
  font-size: 0.8em;
  border-bottom: 1px solid #585b71;
  padding-top: 8px;
  margin-bottom: 5px;
  color: #030;
  background-color: inherit;
}
#navcolumn li.expanded {
  background-image: url(episcangis-theme/expanded.gif);
}
#navcolumn li.collapsed {
  background-image: url(episcangis-theme/collapsed.gif);
}

#footer {
  margin-top: 15px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #666;
  background-color: #ddd;
}
                                                                                                                                                             
table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}
                                                                                                                                                             
table.bodyTable th, table.bodyTable td {
  font-size: 0.9em;
}
                                                                                                                                                             
table.bodyTable tr.a {
  background-color: #ddd;
  color: inherit;
}
                                                                                                                                                             
table.bodyTable tr.b {
  background-color: #eee;
  color: inherit;
}
                                                                                                                                                             
.source {
  border: 1px solid #999;
}
dl {
  padding: 10px 20px 0px 20px;
  border: 1px solid #aaa;
  background-color: #ffc;
  color: inherit;
}
dt {
  color: #000;
  font-weight: bold;
  background-color: inherit;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#banner {
  border-bottom: 1px solid #555;
}
                                                                                                                                                             
#mapLegend {
  margin: 0px 0 0 15px;
  border: 1px solid #999;
  background-color: #eee;
  color: inherit;
}
 
fieldset {
  background-color: #eee;
  color: inherit;
}

.error {
  color: red;
  background-color: yellow;
  text-align: left;
}

span.loginout {
  font-weight: bold;
}
