body {
  margin: 0px;
  padding: 0px;
}
img {
  border:none;
}
table {
  padding:0px;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #feb;
}
table.bodyTable th, table.bodyTable td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}
div.clear{
  clear:both;
  visibility: hidden;
}
div.clear hr{
  display: none;
}
#bannerLeft, #bannerRight {
  font-size: 2em;
  font-weight: bold;
}
#bannerLeft img, #bannerRight img {
  margin: 0px;
}
.xleft, #bannerLeft img {
  float:left;
  text-shadow: #7CFC00;
}
.xright, #bannerRight img {
  float:right;
  text-shadow: #7CFC00;
}

.smaller {
  font-size: smaller;
}
#banner {
  padding: 0px;
  margin-bottom: 0px;
}
#banner img {
  border: none;
}
#breadcrumbs {
  padding: 3px 10px 3px 10px;
}
#leftColumn {
 width: 12em;
 float:left;
 overflow: auto;
}
#bodyColumn {
  margin-right: 15px;
  margin-left: 12.5em;
}
#contentBox {
}
p.figure {
  font-size: smaller;
  text-align: center;
}
#legend {
  padding: 8px 0 8px 0;
}
#navcolumn {
  padding: 8px 4px 0 8px;
}
#navcolumn h5 {
  margin: 0;
  padding: 0;
}
#navcolumn ul {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
#navcolumn li {
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 16px;
  list-style-position: outside;
  line-height: 1.2em;
  font-size: 0.9em;
}
#poweredBy {
  text-align: center;
}
#navcolumn img {
  margin-top: 10px;
  margin-bottom: 3px;
}
#poweredBy img {
  display:block;
  margin: -10px 0 10px 17px;
  border: 1px solid black;
  width: 90px;
  height: 30px;
}
#validator img {
  display:block;
  margin: 20px 0 0px 17px;
}
#search img {
  margin: 0px;
  display: block;
}
#search #q, #search #btnG {
  border: 1px solid #999;
  margin-bottom:10px;
}
#search form {
  margin: 0px;
}
#lastPublished {
  font-size: x-small;
}
.navSection {
  margin-bottom: 2px;
  padding: 8px;
}
.navSectionHead {
  font-weight: bold;
  font-size: x-small;
}
.section {
  padding: 4px;
}
#footer {
  padding: 3px 10px 3px 10px;
  font-size: x-small;
}
#breadcrumbs {
  font-size: 0.7em;
  margin: 0pt;
  height: 1.5em;
}
#breadcrumbs ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
 }
                                                                                                                                                             
#breadcrumbs li {
  display: inline;
  list-style-type: none;
  font-size: smaller;
}
.source {
  padding: 12px;
  margin: 1em 7px 1em 7px;
}
.source pre {
  margin: 0px;
  padding: 0px;
}
#map {
  float: left;
}
#map img {
  max-width:600px;
}
                                                                                                                                                             
#mapLegend {
  margin: 0px 0 0 15px;
  padding: 8px 4px 0 8px;
}
 
#mapLegend img {
  max-width: 11em;
}
 
#registerUser {
  border-collapse:collapse;
  width: 40em;
  border: 1px solid black;
  margin-left: 1em;
}
#registerUser td {
  text-align: right;
  border: 1px solid black;
  width: 12em;
}
#registerUser input {
  width: 15em;
}
#registerUser textarea {
  width: 27em;
}

/*
-- Table that is used in forms like registerUser.vm
*/
table.formBlock {
  border-spacing:5px;
  width: 30em;
}
table.formBlock td {
  vertical-align:top;
}