#set ($page_title=$msg.page.printableMap.title)
#set ($disableNav=true)
#set( $rowclass = $alternator.make(true,'a', 'b') )

<div class="section">
  <h1>$msg.page.printableMap.title</h1>
  <table class="bodyTable">
    <tbody>
      <tr>
        <td>
          <div id="map">
            <img src="GetMap.do" alt="current map"/>
          </div>
        </td>
        <td>
          <div id="legend">
            <b>$msg.page.printableMap.legend</b><br/>

            #foreach( $layer in $printMap.ActiveLayers )
            #if ($layer.hasLegend())
            <img src="GetLegendGraphic.do?layer=$layer.name"
            alt="legend for layer $layer.name"/>
            <br/>
            #end
            #end

          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="section">
    <h2>$msg.page.printableMap.general_settings</h2>
    <table  style="padding-left:1em;width:auto" class="bodyTable">
      <thead>
        <tr>
          <th>$msg.page.printableMap.parameter</th>
          <th>$msg.page.printableMap.value</th>
        </tr>
      </thead>
      <tbody>
        ###if( $printMap.Mapparameters.size() > 0 )
        #foreach( $param in $printMap.Mapparameters.Elements )
        #if ( $param.Value && $param.Value != "")
        <tr class="$rowclass">
          <td>$param.title</td>
          <td>
            $param.AliasValue
          </td>
        </tr>
        ###end
        #end
        #end
        </tody>
      </table>
    </div>
    <div class="section">
      <h2>$msg.page.printableMap.layerInformation</h2>
      #foreach( $layer in $printMap.ActiveLayers )
      #if($layer.Parameters.size()>1 || $layer.description != "")
      <div class="section">
      <h3>$layer.title</h3>
      <p style="padding-left:1em;">
      $layer.description
      </p>
      #if($layer.Parameters.size()>1)
      <table style="padding-left:1em;width:auto;" class="bodyTable">
        <thead>
          <tr>
            <th>$msg.page.printableMap.parameter</th>
            <th>$msg.page.printableMap.value</th>
          </tr>
        </thead>
        <tbody>
          #foreach( $param in $layer.Parameters.Elements )
          #if ( $param.Value.length()>0 && $param.Title.length()>0)
          <tr class="$rowclass">
            <td>$param.Title</td>
            <td>
               $param.AliasValue
            </td>
          </tr>
          #end
          #end
        </tbody>
      </table>
      #end
      </div>
      #end
      #end
    </div>
  </div>
</div>