#set ($page_title=$msg.page.error_403.title)
#if( $registeredUser )
  #set( $username = $request.userPrincipal.name )
#else
  #set( $username = $msg.page.error_403.unknown_user )    
#end
<div class="section">
  <h1>$msg.page.error_403.title, $msg.user.username: $username</h1>
  $msg.page.error_403.msg
</div>