<div class="xleft">
  ##############################################################################
  ## Leftmost links
  ##############################################################################
</div>
<div class="xright">
  <span>
    <a href="http://www.cdc.gov/ncidod/EID/vol12no11/06-0682.htm">$msg.global.publication Elias et al.</a>
  </span> |
  <span>
    <a href="http://www.ij-healthgeographics.com/content/7/1/33">$msg.global.publication Reinhardt et al.</a>
  </span> |
  ##############################################################################
  ## Login/Register respectively Logout
  ##############################################################################
  <span>
  #if ($user)
  $msg.get('global.logout', [$link.setAction('Logout'),"$user.forename.charAt(0). $user.lastname"])
  #else
  <img style="vertical-align:middle" src="images/icons/emblem-readonly.png" alt="" /> $msg.get('global.login_or_register', [$link.setAction('Login'),'registerUser.vm'])
  #end
  </span> |  
  ##############################################################################
  ## Icon to switch locale, disable it by using '#set ($disableNav=true)'
  ##  on the according velocity page 
  ##############################################################################
  #if ( !$disableLocaleSwitcher || $disableLocaleSwitcher == false )
  <a style="vertical-align:middle;" href="$link.setAction('Locale').addQueryData('language','de')"
     title="$msg.global.switchLangGerman"><img 
     src="images/icons/de.png" alt="(DE)"/></a>
  <a style="vertical-align:middle;" href="$link.setAction('Locale').addQueryData('language','en')"
     title="$msg.global.switchLangEnglish"><img 
     src="images/icons/en.png" alt="(US)" /></a>
  #end
</div>
