<div class="xleft">$msg.global.copyright</div>
<div class="xright">
  <span>$msg.get('global.lastChange', [$globals.LastChange])</span>
  | <span>$msg.get('global.latestCase', [$globals.LatestCaseDate])</span>
  | <span>$msg.get('global.nocases', [$globals.CaseCount])</span>
</div>