<!DOCTYPE html 
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$msg.lang" 
  lang="$msg.lang">
  <head>
    <title>$msg.global.name - $!page_title</title>
    <style type="text/css" media="all">
      @import url("css/episcangis-base.css");
      @import url("css/episcangis-theme.css");

      #if ( $disableNav )
      @import url("css/episcangis-nonav.css");
      #end
      #if( $disableBanner )
      ##@import url("css/episcangis-nobanner.css");
      #end

      table.bodyTable tr.usergroup td {
        padding-top: 1em;
      }
      td.icons {
        text-align:center;
      }
    </style>
    <style type="text/css" media="print">
      @import url("css/episcangis-print.css");
    </style>
    <meta name="author" content="Markus Reinhardt" />
    <meta name="keywords" lang="de" 
    content="Meningokokken, Frühwarnsystem, Epidemiologie, Überwachung" />
    <meta name="description" lang="de" 
    content="Web-basiertes System zur Überwachung von Meningokokken-Erkrankungsfällem in Deutschland" />
    <meta name="keywords" lang="en-us" 
    content="meningococcal, meningococci, disease, early, warning, epidemiology, surveillance" />
    <meta name="description" lang="en-us" 
    content="Online Monitoring Invasive Meningococcal Disease in Germany" />
    <meta name="keywords" lang="en" 
    content="meningococcal, meningococci, disease, early, warning, epidemiology, surveillance" />
    <meta name="description" lang="en" 
    content="Online Monitoring Invasive Meningococcal Disease in Germany" />
    $!headerStuff
  </head>
  <body>
    #if ( !$disableBanner || $disableBanner==false )
    <div id="banner">
      <div id="bannerLeft">
        <a href="welcome.vm"><img 
          src="images/logo_episcangis.png" alt="$msg.global.title"/></a>
      </div>

      <div id="bannerRight">
        <a target="_blank" href="http://www.meningococcus.de"><img 
          src="images/logo_nrzm.png" alt="$msg.global.organization"/></a>
      </div>
      <div class="clear">
        <hr/>
      </div>
    </div>
    #end
    <div id="breadcrumbs">
      #parse('layout/default/breadcrumbs.vm')
      <div class="clear">
        <hr/>
      </div>
    </div>
    #if ($messages.exist())
    <div>
      <dl style="font-size:smaller;">
        <dt>Message/s</dt>
        <dd>
          #foreach ($e in $messages.all )
            $e<br />
          #end
        </dd>
     </dl>
    </div>
    #end
    #if ( !$disableNav || $disableNav==false )
    <div id="leftColumn">
      #parse('layout/default/navigation.vm')
    </div>
    #end
    <div id="bodyColumn">
      <div id="contentBox">
        $screen_content
      </div>
    </div>
    <div class="clear">
      <hr/>
    </div>
    <div id="footer">
      #parse('layout/default/footer.vm')
      <div class="clear">
        <hr/>
      </div>
    </div>
  </body>
</html>