<div id="navcolumn">
  <h5>$msg.page.navigation.quicklinks</h5>
  <ul>
    <li style="margin-bottom:0.5em">
    #if (!$user)
      <b><a href="$link.setAction('Login')">$msg.global.login</a> <span 
            title="$msg.global.infoNoLogout" style="font-size:smaller;cursor:help;text-decoration:none"
          >(?)</span></b>
    #end
    </li>
    <li><a href="#"
      onclick="window.open('mapbrowser.vm','mapbrowser','status=no,scrollbars=no,width=1020,height=820')"
      >$msg.page.navigation.launch</a></li>
    <li style="font-size:smaller;"><a href="#"
      onclick="window.open('mapbrowser.vm?width=800&height=600','mapbrowser','status=no,scrollbars=no,width=800,height=670')">$msg.page.navigation.smallversion</a></li> 
    
  </ul>
  <h5>$msg.page.navigation.about</h5>
  <ul>
    <li><a href="whatis.vm">$msg.page.whatis.title</a></li>
    <li><a href="manual.vm">$msg.page.manual.title</a></li>
  </ul>
  <h5>$msg.page.navigation.other</h5>
  <ul>
    #if (!$user)
      <li><b><a href="registerUser.vm">$msg.global.register</a></b></li>
      <li style="margin-bottom:0.5em"><a href="forgotPassword.vm">$msg.page.forgotPassword.title</a></li>   
    #end
    
    <li><a href="contact.vm">$msg.page.contact.title</a></li>
    <li><a href="imprint.vm">$msg.page.imprint.title</a></li>
  </ul>

  #if($user)
  #if($user.isInRole("public_health"))
  ## || $user.isInRole("nrzm"))
  <h5>$msg.role.public_health</h5>
  <ul>
  	<li></li>
  </ul>
  #end
  #if($user.isInRole("nrzm"))
  <h5>$msg.role.nrzm</h5>
  <ul>
    <li><a href="developer/"
      target="_blank" class="newWindow">Dokumentation</a></li>
  </ul>
  <h5>Beta</h5>
  <ul>
    <li><a href="$link.setAction('CountCasesByAttribute').addQueryData('attribute','Serogroup').addQueryData('areaTier','3')"
          >Casecounts by serogroup</a></li>
  </ul>
  #end
  #if($user.isInRole("admin"))
  <h5>$msg.role.admin</h5>
  <ul>
    <li><a href="$link.setAction('ListUsers')"
          >List users</a></li>
  </ul>
  #end
  #end
  <h5></h5>
  <a href="http://www.meningococcus.de" id="nrzm"><img 
          src="images/logo_nrzm.png" alt="$msg.global.organization"/></a>
  <a href="http://www2.informatik.uni-wuerzburg.de" id="info2"><img 
          src="images/logo_info2.gif" alt="$msg.global.info2.university-wuerzburg"/></a>
  <a href="http://www.ridom.com" id="ridom"><img 
          src="images/logo_ridom.gif" alt="Ridom GmbH"/></a>
  <a href="http://validator.w3.org/check?uri=referer" id="validator"><img
        src="images/valid-xhtml10.png"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a><br/>
  <a href="http://maven.apache.org/" title="Built by Maven" 
    id="poweredBy"><img alt="Built by Maven" 
    src="images/maven-feather.png"></img></a>                                                                                          
</div>
