#set ($page_title=$msg.page.registerUser.title)

<form method="/ManageUsers.do?method=register" focus="username">
	<table id="userForm">
		<tr>
			<th>$msg.user.username</th>
			<td>
			  <input type="text" name="username" value="$registerUser.username">
			</td>
			<td id="formError">$errors.username</td>
		</tr>
		<tr><th colspan="3">
		  <button type="submit">
			$msg.page.registerUser.submit
		  </button>
        </th></tr>
	</table>
</form>
